body {
  background-image: url(../images/background.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  margin: 0px;
}

.container {
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 376px) {
  .container {
    max-width: 330px;
  }
}

@media screen and (min-width: 377px) {
  .container {
    max-width: 1076px;
  }
}

header {
  display: inline-block;
  background-color: white;
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: 100%;
  text-align: right;
}

.header {
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 376px) {
  .header_block {
    margin-right: 10px;
  }
}

@media screen and (min-width: 377px) {
  .header_block {
    margin-right: 17px;
  }
}

.header_text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #009c41;
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
}

@media screen and (max-width: 376px) {
  .header_text {
    font-size: 12px;
    line-height: 8px;
  }
}

@media screen and (min-width: 377px) {
  .header_text {
    font-size: 18px;
    line-height: 21px;
  }
}

.header_text-span {
  font-weight: normal;
}

.header_block-text {
  margin-right: 12px;
}

@media screen and (max-width: 376px) {
  .header_block-text {
    margin-top: 20px;
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 377px) {
  .header_block-text {
    margin-top: 38px;
    margin-bottom: 36px;
  }
}

.header_block-text :not(:last-child) {
  margin-bottom: 10px;
}

.rectangle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #009c41;
}

@media screen and (max-width: 376px) {
  .rectangle {
    width: 30px;
    height: 30px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 377px) {
  .rectangle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }
}

.main-button {
  border-radius: 35px;
}

.dobleFrame {
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

@media screen and (max-width: 376px) {
  .dobleFrame {
    width: 330px;
    height: 40px;
  }
}

@media screen and (min-width: 377px) {
  .dobleFrame {
    width: 970px;
    height: 58px;
  }
}

.secondaryFrame {
  background-color: #ff7728;
  border-radius: 35px;
  float: right;
}

@media screen and (max-width: 376px) {
  .secondaryFrame {
    width: 165px;
    height: 40px;
  }
}

@media screen and (min-width: 377px) {
  .secondaryFrame {
    width: 485px;
    height: 58px;
  }
}
/*# sourceMappingURL=main.css.map */