$primary-color: #009c41;
$secondary-color: #ff7728;
$third-color: #fff;

body {
  background-image: url(../images/background.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  margin: 0px;
}

.container {
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile) {
    max-width: 330px;

    margin-top: 27px;
  }
  @include for-size(desktop) {
    max-width: 1076px;

    margin-top: 18px;
  }
}
