.main-button {
  border-radius: 35px;
}

.dobleFrame {
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;

  @include for-size(mobile) {
    width: 330px;
    height: 40px;
  }

  @include for-size(desktop) {
    width: 970px;
    height: 58px;
  }
}

.secondaryFrame {
  background-color: $secondary-color;
  border-radius: 35px;
  float: right;

  @include for-size(mobile) {
    width: 165px;
    height: 40px;
  }

  @include for-size(desktop) {
    width: 485px;
    height: 58px;
  }
}
